/* Common Style  全体にかかるスタイルの意味*/

body{
    font-size: 16px;
    font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    line-height: 1.5;
}

a{
    color: #0099CC;
    text-decoration: underline;
}
a:hover{
    color: #CCCCCC;
}

header{
    width: 950px;
    margin: 40px auto;
    overflow: hidden;
}

header h1{
    float: left;
    width: 240px;
}

header p {
    line-height: 2.1;
    font-size: 13px;
}

nav {
    width: 950px;
    margin: 0 auto 40px;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav li {
    width: 150px;
}

nav a {
    color: #000;
    font-size: 14px;
    text-decoration: none;
    border-bottom: 1px #000 solid;
    display: block;
}

nav a:hover {
    border-bottom: 1px #CCC;
}

/* main-visual */
.main-visual {
    width: 950px;
    margin: 0 auto 40px;
}

/* .container*/
.container {
    width: 950px;
    margin: 0 auto 40px;
    display: flex;
    justify-content: space-around;
}

.container h2 {
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px #000000 solid;
    padding-bottom: 8px;
    margin-bottom: 20px;
}

.container section {
    width: 310px;
}

.news-list {
    margin-bottom: 20px;
    border-bottom: 1px #000 solid;
    padding-bottom: 20px;
}

/*要素の最後の部分だけボーダーを表示しない→クラスに擬似クラスをつける */
.news-list:last-child {
    border-bottom: none;
}

.menu div{
    display: flex;
    justify-content: space-around;
}

.menu div section{
    width: 150px;
}

.more {
    margin-top: 10px;
    text-align: right;
}

/* footer*/
footer{
    width: 950px;
    margin: 0 auto 40px;
    border-top: 1px #000000 solid;
    padding-top: 20px;
    font-size: 11px;
    text-align: right;
}
