/* Common Style -------------------------- */

body{
    font-size:14px;
    font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    line-height:1.6;
    font-weight:normal;
}


a{
    color:#CCC;
    text-decoration: none;
}

a:hover{
    color:#DDD;
    text-decoration: none;
}


/* Header -------------------------- */

header {
    width: 100%;
    height: 700px;
    background: url(../img/main.jpg) center  center no-repeat;
    background-size: cover;
    position: relative;
}

header h1{
    width: 130px;
    height: 130px;
    background-color: #FFF;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 255px;
    margin-left: -65px;
}

header h1 img{
    width: 77px;
    height: auto;
    margin-top: 42px;
}

header nav{
    width: 100%;
    height: 63px;
    background-color: #FFF;
    border-bottom: 1px #EDEDED solid;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-container{
    width: 1140px;
    height: 63px;
    margin: 0 auto; /*左右の中央に配置*/
    overflow: hidden; /*floatの親要素に入れる*/
}

header nav h2{
    width: 60px;
    float: left;  /*ロゴ左寄せ*/
    margin-top: 14px;
}

header nav h2 img{
    width: 60px;
    height: auto;
}

header nav ul {
    float: right;/* 右寄せ */
    width: 457px;
    height: 63px;
    display: flex; /* 横並び*/
    justify-content: space-between; /*均等配置*/
}

header nav ul li a{
    display: block;
    height: 63px;
    line-height: 4.4; /*中の文字の高さの位置を調整*/
    padding: 0 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px
}

header nav ul li  a.current{
    border-bottom: 2px #B5B5B5 solid;
    height: 61px;  /* 下線2px文高さを調整*/
}

/* Works  --------------------------- */

/* 共通部分-----------|*/
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
}

.sub-title{
    font-size: 16px;
    margin-bottom: 56px;
}

.works h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: #FFF;
    margin-top: 220px;
}


.btn {
    width: 268px;
    height: 44px;
    /*background-color: #444;*/
    margin: 64px auto 0;
}

.btn a {
    width: 268px;
    height: 44px;
    display: block; /*リンク領域の拡張*/
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 2.8;
    background: rgba(68,68,68,1);
}

.btn a:hover {
    background: rgba(68,68,68,0.5);
}
/* 共通部分-----------|*/

.works{
    background-color: #F4F4F4;
    text-align: center; /*親要素の段階でセンタリングを指定する*/
    padding: 80px 0;
}

.works-container {
    display: flex;
    width: 100%;
}

.works section {
    height: 468px;
    flex-grow: 1;
}

.graphic {
    background: url(../img/graphic.jpg) center center no-repeat;
    background-size: cover;
}

.signage-vr {
    background: url(../img/signage.jpg) center center no-repeat;
    background-size: cover;
}

.ui-ux {
    background: url(../img/ui.jpg) center center no-repeat;
    background-size: cover;
}


/* News -------------------------- */
.news {
    width: 100%;
    padding: 80px 0;
    background-color: #E6E6E6;
    text-align: center;
}

.news-container {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.news article {
    width: 360px;
    height: 420px;
    background-color: #FFF;
}

.news .news-data {
    padding: 24px 16px;
    overflow: hidden;
}

.news .date {
    float: left;
    width: 100px;
    font-size: 11px;
    text-align: left;
}


.news .categoly {
    float: right;
    width: 90px;
    height: 18px;
    background-color: #A0A0A0;
    color: #FFF;
    font-size: 11px;
    line-height: 1.6;
    border-radius: 3px;
}

.news .seminar {
    background-color: #17d8e6;
}

.news .media {
    background-color: #e69a17;
}

.news h3 {
    padding: 0 16px;
    text-align: left;
    font-size: 13px;
}

/* Footer -------------------------- */

footer {
    padding: 80px 0;
    text-align: center;
    background-color: #F4F4F4;
}

footer nav a {
    color: #666;
}

footer h1 img {
    width: 77px;
    height: auto;
}

footer nav {
    padding: 64px 0;
}

.footer-gnav {
    display: flex;
    justify-content: space-between;
    width: 310px;
    margin: 0 auto 24px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

.footer-snsnav {
    width: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

footer address {
    color: #666;
    font-size: 13px;
    line-height: 2;
    margin-bottom: 64px;
}

footer small {
    font-size: 11px;
    color: #666
}
